.introducao-bg {
  background-color: var(--cor-12);
  box-shadow: inset 0px -120px var(--cor-0);
}

.introducao {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
}

.introducao img {
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.introducao-conteudo {
  align-self: end;
  padding-bottom: 200px;
}

.introducao h1 {
  margin-bottom: 32px;
}

.introducao p {
  margin-bottom: 20px;
}

@media (max-width: 1200px) {
  .introducao h1 {
    font-size: 3rem;
  }
  .introducao p {
    font-size: 1.125rem;
  }
}

@media (max-width: 800px) {
  .introducao-bg {
    background: var(--cor-11);
    padding-top: 40px;
    box-shadow: inset 0px -60px var(--cor-0);
  }
  .introducao-conteudo {
    padding-bottom: 0px;
  }
  .introducao {
    gap: 2rem;
    grid-template-columns: 1fr;
  }
  .introducao h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .introducao img {
    height: 300px;
    width: 100%;
  }
}
